# .editorconfig?????????????????????????????嚥싲갭큔?????饔낅떽??????????占썬꺂??節낆젂??? https://aka.ms/editorconfigdocs
root = true

# All files
[*]
indent_style = space

# Xml files
[*.xml]
indent_size = 2

root = true

[*]
charset = utf-8